= form_with(model: diary, local: true) do |form|
  - if diary.errors.any?
    #error_explanation
      %h2
        = pluralize(diary.errors.count, "error")
        prohibited this diary from being saved:
      %ul
        - diary.errors.full_messages.each do |message|
          %li= message
  .field.form-group
    = form.label :title
    = form.text_field :title, id: :diary_title, class: 'form-control'
  .field.form-group
    = form.label :body
    = form.text_area :body, id: :diary_body, class: 'form-control'
  .field.form-group
    = form.label :category_id
    = form.collection_select :category_id, categories,
      :id, :name, {prompt: ""}, {class: 'custom-select'}
  .actions
    = form.submit
